@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body, html {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Inter', 'Montserrat', sans-serif;
}

body .container-fluid, html .container-fluid {
  padding: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #E6E9ED;
  padding-bottom: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover {
  text-decoration: none;
}

.fadeIn-down {
  -webkit-animation: fadein-down 1s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein-down 1s;
}

section {
  margin-top: 5.5em;
}

section h3 {
  font-weight: 600;
}

.stand-out {
  font-weight: 600;
  font-style: italic;
}

/* MAIN */
.main {
  background: #0B0C0D;
  color: #ececec;
}

.main .navbar {
  padding-top: 2.4em;
}

.main .navbar a {
  color: #D5D5D5;
  text-decoration: none;
}

.main .navbar .navbar-brand {
  font-family: 'Comic sans',cursive;
  margin-left: 5em;
  letter-spacing: 2px;
  border-bottom: 0;
  padding-bottom: 0;
}

@media (max-width: 768px) {
  .main .navbar .navbar-brand {
    margin-left: 0.5em;
  }
}

.main .navbar .navbar-toggler {
  border-color: #ececec;
  float: right !important;
}

.main .navbar .navbar-toggler:focus {
  outline: none;
}

.main .navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(236, 236, 236, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.main .navbar .navbar-collapse {
  margin-right: 5em;
}

.main .navbar .nav-item a {
  margin-right: 5em;
  border: 0;
}

.main .navbar .nav-item a:after {
  display: block;
  content: '';
  border-bottom: 1px solid #ececec;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: calc(100% + 1em);
  padding-bottom: .3em;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.main .navbar .nav-item a:hover:after {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main__section {
  -webkit-box-shadow: 8px 20px 35px -25px black;
          box-shadow: 8px 20px 35px -25px black;
}

.main__section__box {
  margin: 9em auto;
  padding: 0 2em;
  max-width: 950px;
}

@media (max-width: 768px) {
  .main__section__box {
    margin: 3.5em auto;
  }
}

.main__section__box--prof-pic {
  text-align: center;
}

.main__section__box--prof-pic img {
  width: 100%;
  height: auto;
  max-width: 23em;
  border-radius: 15px;
}

.main__section__box--description {
  font-size: 1.2rem;
  width: 90%;
  line-height: 2;
  letter-spacing: 0.1em;
}

@media (max-width: 768px) {
  .main__section__box--description {
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .main__section__box--description {
    margin: 3em auto 1.5em;
  }
}

.main__section__box--description #greeting {
  font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.main__section .arrowDown {
  margin-bottom: 1.5em;
  text-align: center;
}

.main__section .arrowDown > svg {
  color: white;
  height: 50px;
  bottom: 10px;
  -webkit-animation: down 2s ease infinite;
          animation: down 2s ease infinite;
}

@-webkit-keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    opacity: 1;
  }
}

.main .blog_page .main__section__header {
  text-align: center;
}

.main .blog_page .main__section__header h1 {
  font-size: 4.3em;
  margin-top: 1.5em;
  font-weight: 600;
}

.main .blog_page .main__section__header .page_description {
  margin: 3em auto 0;
  padding-bottom: 3em;
  width: 60%;
}

@media (max-width: 576px) {
  .main .blog_page .main__section__header .page_description {
    width: 80%;
  }
}

.posts-container {
  margin-top: 5em;
  text-align: center;
  color: #1A1D20;
  opacity: 0.8;
}

@media (max-width: 576px) {
  .posts-container {
    min-height: 20vh;
    width: 90%;
    margin: 5em auto;
  }
}

/* ABOUT ME */
.about-me {
  font-size: 1.2rem;
}

.about-me__section {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  padding: 0 1em;
}

.about-me__section--description {
  margin-top: 1.5em;
}

.about-me__section--description--text {
  line-height: 2em;
}

.tech__components {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 85%;
  max-width: 1200px;
  margin: 3.5em auto 0;
  line-height: 1.6em;
}

.tech__components--component {
  padding: 1em 1.1em;
  text-align: center;
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  border-radius: 20px;
  max-width: 18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tech__components--component--icon {
  margin-bottom: 0.5em;
}

.tech__components--component--icon i {
  font-size: 4em;
}

.tech__components--component--text {
  margin-top: 1em;
}

.tech__components--component h4 {
  font-size: 1.4rem;
  font-weight: 800;
}

.certifications__section {
  text-align: center;
  margin: 5em auto;
  width: 85%;
  max-width: 1200px;
}

.certifications__section--left--item, .certifications__section--right--item {
  padding: 1rem 2em;
  margin: 2em auto;
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .certifications__section--left--item, .certifications__section--right--item {
    padding: 2rem 1em;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .certifications__section--left--item, .certifications__section--right--item {
    min-height: 28.6%;
  }
}

.certifications__section--left--item:hover, .certifications__section--right--item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.certifications__section--left--item img, .certifications__section--right--item img {
  max-width: 11em;
  height: 11em;
}

@media (max-width: 992px) {
  .certifications__section--left--item img, .certifications__section--right--item img {
    margin-bottom: 2em;
  }
}

.certifications__section--left--item .row, .certifications__section--right--item .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certifications__section a {
  color: #000;
  text-decoration: none;
}

.certifications__section span.provider {
  font-weight: 600;
}

.certifications__section #grayed-out {
  color: #aaa;
}

/* FOOTER */
footer {
  background-color: #0B0C0D;
  color: #fff;
}

footer .footer__section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

footer .footer__section__column {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 4em 7em;
  margin: 1.3em 0;
  height: 100%;
}

@media (max-width: 1656px) {
  footer .footer__section__column {
    padding: 4em 0em;
  }
}

@media (max-width: 768px) {
  footer .footer__section__column {
    padding: 3em 8em;
  }
}

@media (max-width: 576px) {
  footer .footer__section__column {
    padding: 2em 3em;
  }
}

@media (max-width: 372px) {
  footer .footer__section__column {
    padding: 2em 1em;
  }
}

footer .footer__section__column.meeting {
  margin-top: 4em;
}

@media (max-width: 992px) {
  footer .footer__section__column.meeting {
    margin-top: 0;
  }
}

footer .footer__section__column--title {
  font-size: 1.5em;
  margin-bottom: 1.3em;
}

@media (max-width: 576px) {
  footer .footer__section__column--title {
    width: 100% !important;
    margin-left: 6px;
    margin-bottom: 1em;
  }
}

footer .footer__section__column--title h3 {
  font-size: 0.9em;
}

footer .footer__section__column--body--social {
  width: 80%;
  margin: 0 auto;
}

footer .footer__section__column--body--social a {
  text-decoration: none;
  border-bottom: 0;
}

@media (max-width: 768px) {
  footer .footer__section__column--body--social a i {
    margin-top: 1em;
    margin-right: 0;
  }
}

footer .footer__section__column--body i {
  font-size: 38px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 0.2em;
}

footer .footer__section__column--body i:hover {
  color: #1544c0;
}

footer .footer__section__column--body [title="Email"] {
  bottom: 10.6px;
  position: relative;
}

@media (max-width: 399px) {
  footer .footer__section__column--body [title="Email"] {
    bottom: 0;
  }
}

#arrow-to-top {
  position: fixed;
  width: 3.41428571em;
  height: 3.41428571em;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  right: 1.85714286em;
  bottom: 3.71428571em;
  padding-top: 12px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.04);
  z-index: 99;
  border: 1px solid #ececec;
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  outline: none;
  border: 1px solid #1A1D20;
}

@media (max-width: 768px) {
  #arrow-to-top {
    width: 2.91428571em;
    height: 2.91428571em;
  }
}

#arrow-to-top .fas {
  color: #1A1D20;
  position: relative;
  bottom: 17.4px;
  right: 4.3px;
  padding: 15px;
  font-size: 30px;
}

@media (max-width: 768px) {
  #arrow-to-top .fas {
    right: 0.27em;
    bottom: 0.7em;
  }
}

#arrow-to-top:not(.active) {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  -webkit-transform: translate3d(0, 20px, 0);
  /*pointer-events: none;*/
}

#arrow-to-top.active:hover {
  cursor: pointer;
  transform: translate3d(0, -3px, 0);
  -webkit-transform: translate3d(0, -3px, 0);
}

@keyframes fadein-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-down {
  from {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Internet Explorer */

.navbar {
  padding: 2.4em 0;
}

.navbar .navbar-brand {
  margin-left: 6em;
}

@media (max-width: 576px) {
  .navbar .navbar-brand {
    margin-left: 1.5em !important;
  }
}

.post-container {
  width: 50%;
  height: auto;
  margin: 3em auto;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1200px) {
  .post-container {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .post-container {
    width: 88%;
  }
}

.post-container_header {
  height: 600px;
  overflow: hidden;
  margin-bottom: 3em;
}

@media (max-width: 1500px) {
  .post-container_header {
    height: initial;
  }
}

@media (max-width: 768px) {
  .post-container_header {
    margin-bottom: 2.1em;
  }
}

.post-container_header--title {
  font-weight: 500;
}

.post-container_header--date {
  color: #656D78;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  margin-left: 2px;
}

.post-container_header--image {
  margin-top: 0.5em;
}

.post-container_header--image img {
  width: 97%;
  height: auto;
}

.post-container .post-body {
  width: 95%;
  margin-left: 1em;
}

@media (max-width: 1500px) {
  .post-container .post-body {
    margin-left: 0.8em;
  }
}

@media (max-width: 992px) {
  .post-container .post-body {
    margin-left: 0.5em;
  }
}

.post-container .post-body p, .post-container .post-body li {
  line-height: 1.7em;
}

.post-container .post-body a {
  text-decoration: none;
  border-bottom: 1px solid #E6E9ED;
  padding-bottom: 2px;
}

.post-container .post-body h3 {
  margin: 1em .2em;
}

.post-container .post-body ol:not(:last-child) {
  margin-bottom: 1em;
}

.post-container .post-body img {
  -webkit-box-shadow: 10px 10px 25px 0px #aaa;
          box-shadow: 10px 10px 25px 0px #aaa;
  width: 97%;
  height: auto;
  margin-bottom: 3.5em;
}

footer {
  margin-top: 10em;
}
/*# sourceMappingURL=blog-post.css.map */