@import "styles.scss";

.posts-container {

    article {
        margin: 0 10em 5em;
        width: 68%;

        @media (max-width: 1300px) {
            margin: 0 auto 5em;
            width: 88%;

        }

        @media (max-width: $screen-lg) {
            width: 100%;
        }

        @media (max-width: $screen-sm) {
            width: 68%;
        }
    }

    &__post {

        .image-div {
            max-height: 218px;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: auto;
        }

        &--title {
            margin-top: 10px;
            font-size: 20px;
            font-weight: 500;
            text-align-last: left;
        }
    }

    a {
        color: $black;
        // transition: 0.3s;
        &:hover {
            color: $blue;
        }
    }
}